@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav">
        <li>
            <span class="navbar-text text-white">Hello, @User.Identity.Name</span> &nbsp;
            <a onclick="document.getElementById('logout_form').submit();" class="text-white" style="cursor: pointer;">Log out</a>
        </li>
    </ul>
    <form asp-controller="Account" asp-action="Logout" method="post" id="logout_form"></form>
}