@using System.Globalization
@model Antiques_Auction_WebApp.ViewModels.AntiqueItemViewModel
@{
    ViewData["Title"] = "Add Antique Item";
    CultureInfo ci = new CultureInfo("en-us");
}

<div class="center">
    <div class="container col-md-5">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show poppins" role="alert">
                You have added an antique item successfully. <br />
                Click <a asp-route="antiqueItemRoute" asp-route-id="@ViewBag.ItemId">here</a> to view the details
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <button type="button" class="btn btn-secondary text-white mb-2 roboto-condensed" onclick="history.back(-1)"><i
                class="fas fa-arrow-left"></i> go back</button>
        <div class="card center roboto-condensed">
            <form method="POST" enctype="multipart/form-data" asp-action="Create" asp-controller="AntiqueItem">
                <div class="card-body">
                    <h3 class="display-5">Add an Item</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Description" class="control-label">Description</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <label asp-for="Price" class="control-label">Price</label>
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="Price" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <div class="form-group mb-3 img-input">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="btn btn-secondary btn-block"/>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <hr>
                    <h3>Auction TimeFrame</h3>
                    <div class="form-group mb-3">
                        <label asp-for="AuctionOpenDateTime" class="control-label"></label>
                        <input class="form-control" asp-for="AuctionOpenDateTime" value="">
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="AuctionCloseDateTime" class="control-label"></label>
                        <input class="form-control" asp-for="AuctionCloseDateTime" value="">
                        <div class="form-group mt-4">
                            <input type="submit" class="btn btn-success center poppins" value="Add Item">
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

<script src="../lib/jquery/dist/jquery.min.js"></script>
