@using System.Globalization
@model Antiques_Auction_WebApp.ViewModels.BidViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Item Details";
}
<div class="container">
    <button type="button" class="btn btn-secondary text-white mb-2 roboto-condensed" onclick="history.back(-1)"><i
            class="fas fa-arrow-left"></i> go back</button>
    <div class="row">
        <div class="col-sm-4 col-md-7 col-lg-7">
            <div class="card">
                <img class="center" id="ItemImage" data-toggle="modal" data-target="#ImageModal" style="width:100%;">
                <div class="card-body">
                    <h3 class="card-text" id="ItemName"></h3>
                    <h5 class="card-text">Description</h5>
                    <p class="card-text" id="ItemDescription"></p>
                </div>
            </div>
        </div>

        <div id="AuctionOpenDialog" class="col-sm-8 col-md-5 col-lg-5">
            <div class="card" style="">
                <div class="card-body">
                    <h4 class="roboto-condensed" style="margin-bottom: 15px;">Auction Time Left</h4>
                    <div class="card-deck d-flex flex-row justify-content-around">
                        <div class="card text-center bg-dark text-light" style="width: 4rem;">
                            <div class="card-body">
                                <div id="days" class="card-title oswald"></div>
                                <div class="card-text oswald"><small>DAYS</small></div>
                            </div>
                        </div>
                        <div class="card text-center bg-dark text-light" style="width: 4rem;">
                            <div class="card-body">
                                <div id="hours" class="card-title oswald"></div>
                                <div class="card-text oswald"><small>HRS</small></div>
                            </div>
                        </div>
                        <div class="card text-center bg-dark text-light" style="width: 4rem;">
                            <div class="card-body">
                                <div id="minutes" class="card-title oswald"></div>
                                <div class="card-text oswald"><small>MINS</small></div>
                            </div>
                        </div>
                        <div class="card text-center bg-dark text-light" style="width: 4rem;">
                            <div class="card-body">
                                <div id="seconds" class="card-title oswald"></div>
                                <div class="card-text oswald"><small>SECS</small></div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h6 class="roboto-condensed" id="AuctionEndsMessage" style="font-weight: 900;"></h6>
                </div>
                <hr />
                <div class="center card-body" style="text-align: center !important;">
                    <h1 id="HighestBidOnItem"></h1>
                    <h5 class="poppins" id="BidHeader" style="text-align:center;"></h5>
                    <a class="roboto-condensed center" id="ClickToViewBids"
                        style="color:#0056b3;cursor:pointer;white-space:nowrap;" data-toggle="modal"
                        data-target="#BidHistory"></a>
                </div>
                @if (User.IsInRole("Regular"))
                {
                    <div id="NotAllowedToBidMessage" class="roboto-condensed text-danger card-body">
                        <p style="margin-bottom:0px"><strong>You are not allowed to bid at this
                                time!</strong></p>
                        <ul>
                            <li>
                                <small>You have already placed a bid on this item</small>
                            </li>
                            <li>
                                <small>The higgest bid across the system is placed on this item</small>
                            </li>
                        </ul>
                    </div>
                    <form method="post" asp-action="CreateBid" asp-controller="AntiqueItem">
                        <fieldset id="fieldset" class="card-body">
                            <input type="hidden" id="Id" name="Id">
                            <input type="hidden" asp-for="Bidder" value="@User.Identity.Name">
                            <input type="hidden" asp-for="AntiqueItemId" value="@ViewBag.ViewModelId">

                            <div class="input-group btn-group input-group-lg" role="group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" asp-for="Amount">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <br />
                            <div class="form-group form-check d-flex justify-content-between">
                                @if (ViewBag.DisallowAutoBid)
                                {
                                    <input class="form-check-input" asp-for="AutoBiddingEnabled" disabled />
                                }
                                else
                                {
                                    <input class="form-check-input" asp-for="AutoBiddingEnabled" />
                                }
                                <label class="form-check-label roboto-condensed" asp-for="AutoBiddingEnabled"></label>
                                <a href="/Home/AutoBidConfiguration" class="roboto-condensed"
                                style="white-space:normal;">Configure Auto-Bidding</a>
                            </div>
                            @if (ViewBag.DisallowAutoBid)
                            {
                                <div class="mb-3">
                                    <small class="roboto-condensed"><i class="fas fa-exclamation-circle"></i> In order to allow
                                        auto-bidding functionality on this item, please click on Auto-Bidding
                                        Configuration.</small>
                                </div>
                            }
                            <button type="submit" class="btn btn-danger btn-lg btn-block poppins" style="font-size: 22px;"
                            id="BidNow">bid
                                now</button>
                        </fieldset>
                    </form>
                }
            </div>
        </div>
        <div id="AuctionClosedDialog" class="col-sm-8 col-md-5 col-lg-5">
            <div class="card" style="">
                <div class="card-body">
                    <br />
                    <h6 class="roboto-condensed center" id="AuctionClosedMessage" style="font-weight: 900;"></h6>
                </div>
                <hr />
                <div class="center card-body" style="text-align: center !important;">
                    <h1 id="FinalBid"></h1>
                    <h5 class="poppins" id="FinalBidLabel" style="text-align:center;">Final Bid</h5>
                    <a class="roboto-condensed center" style="color:#0056b3;cursor:pointer;white-space:nowrap;"
                        data-toggle="modal" data-target="#BidHistory">View bid history table</a>
                </div>
                <div class="roboto-condensed center text-danger card-body">
                    <p id="AwardedToMessage" style="margin-bottom:0px"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- #region modals -->
<div class="modal fade" id="BidHistory" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:30px;font-weight:300;padding-right:2px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="poppins">Bid History</h4>
                <hr />
                <div class="table-responsive pt-2">
                    <table id="ModalTable" class="table table-dark table-striped table-hover"
                        style="text-align:center;">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Bidder</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ImageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:30px;font-weight:300;padding-right:2px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="ItemImageModal" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->

<script src="../../lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>

<script>
    var dt = "";
    var notAllowedToBid = false;
    var turnOnTimer = false;
    function getItemDetails() {
        $.get({
            url: "/AntiqueItem/GetItemDetails",
            data: { "itemId": $("#AntiqueItemId").val() },
            success: function (response) {
                var data = response.itemViewModel;
                dt = response.remainingTime;
                $('#ItemImage').empty();
                $('#ItemName').empty();
                $('#ItemDescription').empty();
                $('#ItemImageModal').empty();
                $('#AuctionEndsMessage').empty();
                $('#AuctionClosedMessage').empty();
                $
                $('#ItemImage').attr({
                    "src": "/AntiqueItemImages/" + data.imageUrl
                });

                $('#ItemImageModal').attr({
                    "src": "/AntiqueItemImages/" + data.imageUrl
                });
                $('#ItemName').text(data.name);
                $('#ItemDescription').text(data.description);
                $('#AuctionEndsMessage').text(response.message);
                $('#AuctionClosedMessage').text(response.message);
            },
            dataType: "json"
        });
    }
    function getBidUpdates() {
        $.get({
            url: "/AntiqueItem/GetBidUpdates",
            data: { "itemId": $("#AntiqueItemId").val() },
            success: function (response) {
                if (response.biddingClosed == false) {
                    turnOnTimer = true;
                    $('#AuctionClosedDialog').hide()
                    $('#AuctionOpenDialog').show()
                    $('#ClickToViewBids').empty();
                    $('#HighestBidOnItem').empty();
                    $('#BidHeader').empty();
                    $('#Amount').empty();
                    $('#ClickToViewBids').text('View All Bids (' + response.bidViewModels.length + ')');
                    $('#Amount').attr({
                        "min": response.minAmountAllowed,
                        "max": response.maxAmountAllowed,
                        "value": response.minAmountAllowed
                    });
                    if (response.price != 0) {
                        $('#NotAllowedToBidMessage').hide();
                        $('#fieldset').show();
                        $('#HighestBidOnItem').text('$ ' + response.price);
                        $('#BidHeader').text('Starting Bid');
                    } else {
                        $('#Id').attr({ "value": response.oldBidId });
                        $('#HighestBidOnItem').text('$ ' + response.highestBidOnItem);
                        notAllowedToBid = response.notAllowedToBid;
                        $('#BidHeader').text('Current Highest Bid');
                        if (notAllowedToBid) {
                            $('#NotAllowedToBidMessage').show();
                            $('#fieldset').hide();
                        } else {
                            $('#NotAllowedToBidMessage').hide();
                            $('#fieldset').show();
                        }
                    }

                } else {
                    $('#AuctionClosedDialog').show()
                    $('#AuctionOpenDialog').hide()
                    $('#FinalBid').empty();
                    $('#AwardedToMessage').empty();
                    if (response.highestBidOnItem != null)
                    {
                        $('#FinalBid').text('$ ' + response.highestBidOnItem);
                    } else 
                    {
                        $('#FinalBidLabel').hide();
                        $('#FinalBid').text('No bids were placed on this item.');
                    }
                    $('#AwardedToMessage').text('This item was awarded to ' + response.winner + '.');
                }
                $('#ModalTable tbody').empty();
                for (var i = 0; i < response.bidViewModels.length; i++) {
                    var data = response.bidViewModels[i];
                    $('#ModalTable tbody').append($('<tr>')
                        .append($('<td>', { text: data.createdAt }))
                        .append($('<td>', { text: data.bidder }))
                        .append($('<td>', { text: '$ ' + data.amount }))
                        .append($('</tr>'))
                    )
                };
                setCountdown();
            },
            dataType: "json"
        });
    };

    $(document).ready(function () {
        $('#ItemImage').each(function (i, e) {
            $(e).wrap('<div class="img-wrapper"></div>');
        });
        getItemDetails();
        getBidUpdates();
    })
    function setCountdown() {

        var dateAr = dt.split('-');
        console.log(dateAr)
        var newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2];
        var end = new Date(dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]);

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {
                clearInterval(timer);
                $('#timecountdown').html('Count Down Ended!');
                window.location.href = '/Home/index';
                return;
            }
            var _days = Math.floor(distance / _day);
            var _hours = Math.floor((distance % _day) / _hour);
            var _minutes = Math.floor((distance % _hour) / _minute);
            var _seconds = Math.floor((distance % _minute) / _second);
            $('#days').empty();
            $('#hours').empty();
            $('#minutes').empty();
            $('#seconds').empty();
            $('#days').html(_days);
            $('#hours').html(_hours);
            $('#minutes').html(_minutes)
            $('#seconds').html(_seconds)
        }
        if (turnOnTimer == true) {
            timer = setInterval(showRemaining, 1000);
        }
    }

</script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/bidHub").build();
    document.getElementById("BidNow").disabled = true;
    connection.on("ReceiveSignal", function (user, message) {
        getItemDetails();
        getBidUpdates();
    });
    connection.start().then(function () {
        document.getElementById("BidNow").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });
    document.getElementById("BidNow").addEventListener("click", function (event) {
        connection.invoke("SendSignal").catch(function (err) {
            return console.error(err.toString());
        });
    });
</script>
