@using System.Globalization
@model AntiqueItemModel
@{
    ViewData["Title"] = "Update Antique Item";
}
@{
    Layout = "_Layout";
    CultureInfo ci = new CultureInfo("en-us");
}

<div class="container">
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> You have edited an existing item successfully. <br />
            Click <a asp-route="antiqueItemRoute" asp-route-id="@ViewBag.ItemId">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="center">
        <div class="card">
            <form method="POST" enctype="multipart/form-data" asp-action="Update" asp-controller="AntiqueItem">
                <div class="card-body">
                    <h3 class="display-5">Update Item</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Description" class="control-label">Description</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                        <label asp-for="Price" class="control-label">Price</label>
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="Price" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Image" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Image" class="custom-file-input" id="customFile"/>
                            <label class="custom-file-label" for="customFile">Choose Image</label>
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="AuctionOpenDateTime" class="control-label"></label>
                        <input class="form-control" asp-for="AuctionOpenDateTime">
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="AuctionCloseDateTime" class="control-label"></label>
                        <input class="form-control" asp-for="AuctionCloseDateTime">
                    <div class="form-group mt-4">
                        <input type="submit" class="btn btn-primary center" value="Save Item">
                    </div>
                </div>
            </form>
        </div>
    </div>


<script src="../lib/jquery/dist/jquery.min.js"></script>
