@model Antiques_Auction_WebApp.ViewModels.AutoBidConfigViewModel;
@{
    ViewData["Title"] = "Configure Auto-Bidding";
}

<div class="center">
    <div class="container col-md-4">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show poppins" role="alert">
                <small>Your changes were saved successfully. </small>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <button type="button" class="btn btn-secondary text-white mb-2 roboto-condensed" onclick="history.back(-1)"><i
                class="fas fa-arrow-left"></i> go back</button>
        <div class="card roboto-condensed">
            <form method="POST" asp-action="@ViewBag.ActionName" asp-controller="Home">
                <div class="card-body">
                    <h3 class="display-5">Configure Auto-Bidding</h3>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id">
                    <input type="hidden" asp-for="UserName">
                    <label asp-for="MaxBidAmount" class="control-label"></label>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="MaxBidAmount" class="form-control" min="0">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                        <span asp-validation-for="MaxBidAmount" class="text-danger"></span>
                        <label asp-for="AlertThreshold" class="control-label mb-0"></label>
                        <small class="">(used to alert you once it is crossed)</small>
                    <div class="form-group input-group mt-2">
                        <input asp-for="AlertThreshold" class="form-control" min="0" max="100">
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                        <span asp-validation-for="AlertThreshold" class="text-danger"></span>
                    <div class="form-group mt-4">
                        <input type="submit" class="btn btn-success center poppins" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../lib/jquery/dist/jquery.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}